// Sass file for special template

@import 'base/variables';
@import 'mixins/module';

$color-accent: #BA3C3C;

a {
	color: $color-accent;

	&:hover,
	&:focus {
		text-decoration: none;
		color: darken($color-accent, 5%);
	}
}

.navbar-default .main-navbar-nav > li > a {
	font-weight: 700;
	font-size: 16px;

	&:hover,
	&:focus {
		color: darken($color-accent, 5%);
	}
}

.btn-primary {
	@include button-variant(#fff, $color-accent, darken($color-accent, 3%));
}

.nav-topbar.topbar-accent {
	background-color: $color-accent;

	.social-icons > li > a {
		background-color: darken($color-accent, 5%);

		&:hover,
		&:focus {
			background-color: darken($color-accent, 8%);
		}
	}

	.search-form input, 
	.search-form .btn {
		background-color: darken($color-accent, 8%);
		color: #fff;
	}
}

.heading-border-icon {
	&:before {
		color: $color-accent;
	}
}

.nav-pills > li.active > a {
	&,
	&:hover,
	&:focus {
		background-color: $color-accent;
	}
}

.post-entry-card .post-title a,
.tabpanel .list-recent-comments .media-heading a,
.tabpanel .list-post a {
	&:hover,
	&:focus {
		color: $color-accent;
	}
}

footer {
	.list-post-category {
		a {
			color: inherit;

			&:hover,
			&:focus {
				color: $color-accent;
			}
		}

		.post-meta {
			font-size: 13px;
		}
	}
}

.footer-heading:after {
	background-color: $color-accent;
}

