/* ------------------------------
 * Social buttons, linked icons
 * -----------------------------*/

.social-icons {
	margin-bottom: 0;

	> li {
		padding: 0 2px 5px 2px;

		> a {
			@include inline-block;
			@include border-radius(3px);

			width: 40px;
			height: 40px;
			line-height: 42px;
			text-align: center;
			background-color: $social-icon-bg;
			color: $social-icon-color;

			i {
				font-size: 18px;
			}

			&:hover, &:focus {
				background-color: darken($social-icon-bg, 5%);
			}
		}
	}
}

.social-icons-fullrounded {
	> li > a {
		@include border-radius(50%);
	}
}

.social-icons-small {
	> li > a {
		width: 30px;
		height: 30px;
		line-height: 28px;

		i {
			font-size: 13px;
		}
	}
}

.social-icons-bordered {
	> li > a {
		background: none;
		border: 1px solid darken($social-icon-bg, 5%);
		color: $social-icon-dark-color;

		&:hover, &:focus {
			color: $social-icon-color;
		}
	}
}

/* colored background */
@each $social-name, $bg-color in $social-colors {
	.#{$social-name}-bg {
		background-color: $bg-color !important;

		&:hover, &:focus {
			background-color: darken($bg-color, 5%) !important;
		}
	}
}

/* colored background on hover */
@each $social-name, $bg-color in $social-colors {
	.#{$social-name}-bg-hover:hover,
	.#{$social-name}-bg-hover:focus {
		background-color: $bg-color !important;
		border-color: darken($bg-color, 5%) !important;
	}
}

/* social statistic numbers */
.social-stat {
	display: block;
	margin-bottom: 15px;
	color: #fff;

	&:hover,
	&:focus {
		color: #fff; 
	}

	i {
		@include border-left-radius(3px);

		width: 60px;
		height: 60px;
		float: left;
		line-height: 60px;
		font-size: 28px;
		text-align: center;
	}

	span {
		@include border-radius(3px);

		display: block;
		padding-left: 73px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 10px;
		font-size: 12px;
		line-height: 25px;
		background-color: #494949;

		strong {
			display: block;
			font-size: 22px;
		}
	}
}






