/* Skin: blue */

@import 'mixins/module';

$brand-primary: #376BAF;
$link-hover-color: darken($brand-primary, 8%);
$navbar-default-link-active-color: $brand-primary;

$btn-primary-color: #FFF;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

$cta-bg: #376BAF;

@import "skin-styles";
