/* Skin: light blue */

@import 'mixins/module';

$brand-primary: #00D9FF;
$link-hover-color: darken($brand-primary, 8%);
$navbar-default-link-active-color: $brand-primary;

$btn-primary-color: #FFF;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

$cta-bg: darken(#00D9FF, 5%);

@import "skin-styles";